{% extends "layout.html" %} {% block content %}
<div class="heropage">
  <div class="herocontent text-center">
    <h1>One Rating</h1>
    <p>One Rating At A Time</p>
  </div>
</div>
{% for post in posts %}
<div class="col-xs-12 col-sm-4 col-md-8 col-lg-12">
  <div class="card p-2">
    <div class="image">
      <a class="img-card" href="">
          <img src="{{ url_for('static', filename='featured_images/')}}{{post.image}}" />
      </a>
    </div>
      <div class="card-content">
          <h4 class="card-title">
            {{post.title}}
            
          </h4>
          <p class="card-body">
            {{post.content}}
            {% include 'stars.html' %}
          </p>
      </div>
  </div>

{% endfor %} {% endblock content %}


