{% extends "layout.html" %} {% block content %}
<div class="heropage">
  <div class="herocontent">
    <h1>The #1 Rating <br> and Reviews Website <br> in Kenya</h1>
    <p class="mt-4">Make a Five <i class="fas fa-star"></i> Rated decision Today</p>
  </div>
  <div class="steps">
    <div class="text-center">
    <figure>
      <img src="{{ url_for('static', filename='images/account.png')}}" alt="Account" width="100px" class="step">
      <figcaption>
        SIGN UP
      </figcaption>
    </figure>
    </div>
    <div class="text-center">
    <figure>
      <img src="{{ url_for('static', filename='images/search.png')}}" alt="Account" width="100px" class="step">
      <figcaption>
        SEARCH
      </figcaption>
    </figure>
    </div>
    <div class="text-center">
    <figure>
      <img src="{{ url_for('static', filename='images/rate.png')}}" alt="Account" width="100px" class="step">
      <figcaption>
        RATE
      </figcaption>
    </figure>
    </div>

  </div>
</div>
<!-- Scrolling Text -->
<section class="container-fluid mainHero justify-content-center">
  <div class="row align-self-center ">
    <div class="col all_text">
      <h4 class="text-right align-items-center pt-5">YOU CAN RATE </h4>
      <div class="box">
        <ul class="scroller">
          <li class="item-1">Hospitals</li>
          <li class="item-2">Restaurants</li>
          <li class="item-3">Schools</li>
          <li class="item-4">Companies</li>
          <li class="item-5">Bakeries</li>
          <li class="item-6">Supermarkets</li>
          
        
        </ul>
      </div>
    </div>
  </div>
 </section>
<!-- {% for post in posts %}
<div class="col-xs-12 col-sm-4 col-md-8 col-lg-12">
  <div class="card p-2">
    <div class="image">
      <a class="img-card" href="">
          <img src="{{ url_for('static', filename='featured_images/')}}{{post.image}}" />
      </a>
    </div>
      <div class="card-content">
          <h4 class="card-title">
            {{post.title}}
            
          </h4>
          <p class="card-body">
            {{post.content}}
            {% include 'stars.html' %}
          </p>
      </div>
  </div>

{% endfor %} {% endblock content %} -->


